<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="container align-items-center">
      <img src="assets/images/me.jpg" class="avatar-large">
      <h2>Hello there, I'm Joss Dixon.</h2>
      <p>I'm a programmer from the UK, and here are a few things I've made.</p>
    </div>
  </div>
  <div class="container">
    <% data.products.each do |product|  %>
      <div class="card-trip">
        <img src="<%= image_path(product.image)%>">
        <div class="card-trip-infos">
          <div>
            <h2><%= product.name %></h2>
            <p><%= product.description %></p>
          </div>
          <% link_to product.url, class: 'external-link', target: 'blank' do %>
            <i class="fas fa-bullseye"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
