<div class="container mt-5">
  <div class="col text-center">
    <div class="links">
      <a href="https://www.linkedin.com/in/jossdixon/" target="blank"><i class="fab fa-linkedin fa-2x"></i></a>
      <a href="https://github.com/jossdixon"><i class="fab fa-github-square fa-2x"></i></a>
      <% link_to '/contact.html', :relative => true do %>
        <i class="fas fa-envelope-square fa-2x"></i>
      <% end %>
    </div>
    <img src="assets/images/me_pro.jpg" class="avatar-square">
    <div class="container p-3">
      <h1>Hello there, I'm Joss Dixon.</h1>
      <p>I'm a programmer from the UK, and here are a few things I've made.</p>
    </div>
  </div>
</div>
</div>
<div class="container">
  <% data.products.each do |product|  %>
    <div class="card-trip">
      <img src="<%= image_path(product.image)%>">
      <div class="card-trip-infos">
        <div>
          <h2><%= product.name %></h2>
          <p><%= product.description %></p>
        </div>
        <% link_to product.url, class: 'external-link', target: 'blank' do %>
          <i class="fas fa-bullseye"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>
</div>
</div>
